@media screen and (max-width: 1200px) {
  .person {
    margin: -20%;
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #ccc;
  }
}
@media screen and (max-width: 900px) {
  .person {
    margin: -28%;
    width: 120%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #ddd;
  }
}
main .wraper .person_list {
  width: 100%;
  padding: 30% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .wraper .person_list .person:nth-child(1) {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main .wraper .person_list .person:nth-child(2) {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
main .wraper .person_list .person:nth-child(3) {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}